<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static',filename='styles/index.css')}}">
        <title>Document2</title>
    </head>

    <body>
        <header>
            <a href="{{url_for('home')}}" style="text-decoration: none;"><h1 id="web-head">DataGenie</h1></a>
        </header>

        <main>
            <div class="result">
                <!--From w3schools.com and https://flask.palletsprojects.com/en/2.0.x/patterns/flashing/-->
                <p>Upload a file to perform data enhancements on: </p>
                <br>

                <form action="/upload" method= "POST" enctype="multipart/form-data">
                    <input type="file" name="uploadname" accept=".csv">
                    <br><br>
                
                    <input id = "bttn" type="submit" value="Submit">
        
                </form>
            </div>
        
           <!-- <div class="loader"></div> -->

        </main>

        <footer id="footer">
            <small>Copyright &copy; 2022, Northwestern University</small>
        </footer>


    </body>
</html>
